@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: #3E5C5E;
    color:white;
    font-family: 'Roboto' sans-serif;

}

.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
     grid-gap:6px;
    
}

.container>div{
    cursor: pointer;
    height:210px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all 0.4s ease-out;
    

}
 
.container>div:hover{
    opacity: 0.7;
    transform: scale(0.98);
}


h2{
    font-size: 40px;
    font-weight: 300;

}

h2 span{
    font-size: 28px;
}

p{
    font-size: 27px;
}


.container >div:nth-of-type(1){
   grid-column: 1/3;
}
.container >div:nth-of-type(6){
   grid-column: 3/5;
}
.container >div:nth-of-type(9){
   grid-column: 3/5;
}
.container >div:nth-of-type(11){
   grid-column: 2/4;
}

.bg1{
    background: url('bg1.jpg');
    color:#333;
}

.bg2{
    background: url('bg2.jpg');
}